# When building the final Docker image ignore all but the build directory for
# faster Docker daemon context gathering.
# TODO(@garukun): Fix it! This may break other Dockerfile's under the root.
!**/_out
